.container {
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #3f3f3f;
  width: 100%;
  margin: 0.5em 0;
}

.editButtonWrapper {
  position: absolute;
  top: 1%;
  left: 1%;
  display: flex;
  padding: 0;
  margin: 0;
}
.vendingOptions {
  margin-top: 2em;
  display: flex;
  width: 100%;
  height: 5rem;
}

.toggleSwitch {
  align-self: center;
}

.vendingQuantity {
  margin-top: 2em;
  height: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.location {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

.locaton__title {
  font-size: 0.75rem;
  font-weight: bold;
}

.itemTitle {
  margin-left: 1em;
  font-size: 1.5rem;
}

.itemDescription {
  margin: auto;
}

.itemMaterials {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.itemInfo {
  margin: 0 1em 0 auto;
}

.itemInfo__brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.itemMaterials__p,
.itemMaterials__m,
.itemMaterials__k,
.itemMaterials__n,
.itemMaterials__s,
.itemMaterials__h {
  height: 1rem;
  width: 4rem;
  margin-top: 0.1em;
}

.itemQty__value {
  font-size: 2rem;
  font-weight: bold;
}

.itemQty {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
