.grid {
  display: grid;
  grid-template-areas:
    "title brand"
    "desc"
    "loc supp cat mat";
}

.title {
  grid-area: title;
}

.brand {
  grid-area: brand;
}

.description {
  grid-area: desc;
}

.location {
  grid-area: loc;
}
.supplier {
  grid-area: supp;
}
.category {
  grid-area: cat;
}

.materials {
  grid-area: mat ;
}
